/* 购物车样式 */
#main{
    min-height: 100px;
    .shoppingcar_con{
        width: 1690px;
        margin: 0 auto;
        min-height: 100px;
        .messbox{
            width: 500px;
            height: 300px;
            margin: 0 auto;
            padding-top: 200px;
            img{
                float: left;
            }
            p{
                float: left;
                margin: 20px 10px 10px;
                color: #333;
                font: 700 16px/1 helvetica,tahoma,arial,sans-serif;
            }
            span{
                float: left;
                color: #666;
                margin: 0px 10px 10px;
                font: normal 12px/2 helvetica,tahoma,arial,sans-serif;
                a{
                    color: #ff4065;
                    text-decoration: underline;
                }
            }
        }
    }
}